@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=dwMhQOWgwj/oyBE12Mj/YzeuBgddVo/SKo/JsgGnhgS0AAmOpU9FyoIW1BV+bA2G
@dialogueconsulting:registry=https://npm.pkg.github.com/
engine-strict = true
use-exact=true
